body {
  margin: 0;
  font-family: "PT Serif";
  background: white
}

code {
  font-family: 'Lexend Deca', sans-serif !important;
}


code, pre, kbd, samp {
  font-family: 'Lexend Deca', sans-serif !important;
}
