body {
  margin: 0;
  font-family: "PT Serif";
  background: whitesmoke
}

code {
  font-family: 'Josefin Sans', sans-serif !important;
}


code, pre, kbd, samp {
  font-family: 'Josefin Sans', sans-serif !important;
}
