body {
  margin: 0;
  font-family: "PT Serif";
  background: linear-gradient(115deg, #9ee2ff, #ffffff)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
